; Author: Aymeric Beaumet <hi@aymericbeaumet.com> (https://aymericbeaumet.com)
; Github: @aymericbeaumet/dotfiles

[advice]
  statusHints = false

[alias]
  a = add
  br = branch -v --sort=-committerdate
  bw = browse
  cp = cherry-pick
  ci = commit
  cia = commit --amend
  cl = clone
  co = checkout
  df = diff
  dfc = diff --cached
  fe = fetch
  l = log
  me = merge
  pl = pull
  ps = push -u
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase --interactive
  rmc = rm --cached
  rs = reset
  rv = revert
  sh = stash
  shc = stash clear
  shl = stash list
  shp = stash pop
  sm = submodule
  st = status --short --branch
  sw = show
  #
  plps = !git pl && git ps

[color]
  ui = auto

[commit]
  gpgsign = true
  verbose = true

[core]
  excludesfile = ~/.gitignore
  pager = delta

[delta]
  navigate = true

[diff]
  colorMoved = default

[grep]
  lineNumber = true
  patternType = extended

[interactive]
  diffFilter = delta --color-only

[man]
  viewer = less

[merge]
  conflictstyle = diff3

[pull]
  rebase = true

[push]
  default = current
  followTags = true

[user]
  name = Aymeric Beaumet
  email = hi@aymericbeaumet.com

[github]
  user = aymericbeaumet

[gitlab]
  user = aymericbeaumet

[bitbucket]
  user = aymericbeaumet
