; Author: Aymeric Beaumet <hi@aymericbeaumet.com> (https://aymericbeaumet.com)
; Github: @aymericbeaumet/dotfiles

[advice]
	statusHints = false

[alias]
	a = add
	br = branch -v --sort=-committerdate
	bw = browse
	ci = commit
	cia = commit --amend
	cl = clone
	co = checkout
	cp = cherry-pick
	df = diff
	dfc = diff --cached
	fe = fetch --prune
	l = log
	me = merge
	mt = mergetool
	pl = pull
	ps = push -u
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	rmc = rm --cached
	rs = reset
	rv = revert
	sh = stash -u
	shc = stash clear
	shl = stash list
	shp = stash pop
	sm = submodule
	st = status --short --branch
	sw = show
	wa = worktree add
	wl = worktree list
	wr = worktree remove
	#
	plps = !git pl && git ps

[color]
	ui = auto

[commit]
	verbose = true

[core]
	excludesfile = ~/.gitignore
	pager = delta

[github]
	user = aymericbeaumet

[grep]
	lineNumber = true
	patternType = extended

[man]
	viewer = less

[mergetool "nvim"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"

[mergetool]
  prompt = false

[merge]
	tool = nvim
	conflictstyle = diff3

[pull]
	rebase = true

[push]
	default = current
	followTags = true

[user]
	name = Aymeric Beaumet
	email = aymeric@beaumet.me

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false

[diff]
    colorMoved = default
