# Inspired from https://github.com/github/gitignore

# Unix
*~

# OSX
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*

# Vim
*.un~
.*.s[a-w][a-z]
.netrwhist
Session.vim

# Xcode
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcuserstate
DerivedData
xcuserdata

# Secrets
.env
.env.local
.env*.local

# Python
__pycache__/
*.pyc

# Terraform
.terraform/

# Logs
*.log

# Node.js
npm-debug.log

# JetBrains IDEs
*.iml
*.ipr
*.iws
.idea/
.idea_modules/
/out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties

# Haskell
.hdevtools*

# Visual Studio Code
.vscode

# Homebrew
*.lock.json

# lazy.nvim
lazy-lock.json

# tmux
.tmux/plugins/

# zsh
.zsh/bundle/

# claude
.claude/
*.lock
