[submodule ".shallow/.fzf"]
	path = .shallow/.fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".shallow/.vim/autoload"]
	path = .shallow/.vim/autoload
	url = https://github.com/junegunn/vim-plug.git
[submodule ".shallow/.zsh/bundle/docker-zsh-completion"]
	path = .shallow/.zsh/bundle/docker-zsh-completion
	url = https://github.com/felixr/docker-zsh-completion.git
[submodule ".shallow/.zsh/bundle/zsh-completion"]
	path = .shallow/.zsh/bundle/zsh-completion
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".shallow/.zsh/bundle/zsh-syntax-highlighting"]
	path = .shallow/.zsh/bundle/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
