; Author: Aymeric Beaumet <hi@aymericbeaumet.com> (https://aymericbeaumet.com)
; Github: @aymericbeaumet/dotfiles

[advice]
	statusHints = false

[alias]
	a = add
	br = branch -v --sort=-committerdate
	bw = browse
	ci = commit
	cia = commit --amend
	cl = clean -d
	co = checkout
	df = diff
	dfc = diff --cached
	fe = fetch --prune
	l = log
	last = log -1 HEAD
	me = merge
	pl = pull
	plps = !git pl && git ps
	ps = push -u
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	rmc = rm --cached
	rs = reset
	rt = root
	rv = revert
	sh = stash -u
	shc = stash clear
	shl = stash list
	shp = stash pop
	sm = submodule
	st = status --short --branch
	sw = show
	wa = worktree add
	wl = worktree list
	wr = worktree remove

[clean]
	requireForce = true

[color]
	ui = auto

[commit]
	verbose = true

[core]
	excludesfile = ~/.gitignore
	pager = delta
	untrackedCache = true

[github]
	user = aymericbeaumet

[grep]
	lineNumber = true
	patternType = extended

[man]
	viewer = less

[pull]
	rebase = true

[init]
	defaultBranch = main

[push]
	default = current
	followTags = true
	autoSetupRemote = true

[fetch]
	writeCommitGraph = true

[column]
	ui = auto

[rebase]
	autoStash = true
	autoSquash = true

[rerere]
	enabled = true

[user]
	name = Aymeric Beaumet
	email = aymeric@beaumet.me

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	dark = true
	side-by-side = false
	line-numbers = true
	syntax-theme = Nord
	hyperlinks = true
	hyperlinks-file-link-format = "file://{path}:{line}"

[diff]
	algorithm = patience
	colorMoved = default
