[advice]
  statusHints = false

[alias]
  ; Fast access aliases
  a = add
  br = branch
  ci = commit
  cia = commit --amend
  cl = clone
  co = checkout
  df = diff
  dfc = diff --cached
  fe = fetch
  l = log
  pl = pull
  ps = push
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rmc = rm --cached
  rs = reset
  rsh = reset --hard
  sh = stash
  sm = submodule
  st = status --short --branch
  sw = show

[color]
  branch = auto
  diff = auto
  grep = auto
  interactive = auto
  pager = true
  showbranch = auto
  status = auto
  ui = auto

[core]
  excludesfile = ~/.gitignore
  pager = less -R

[diff]
  tool = vimdiff
  mnemonicprefix = true

[grep]
  lineNumber = true
  patternType = extended

[man]
  viewer = less

[push]
  default = simple

[user]
  name = Aymeric Beaumet
  email = hi@aymericbeaumet.com

[github]
  user = aymericbeaumet

[bitbucket]
  user = aymericbeaumet

[url "git@github.com:"]
	insteadOf = https://github.com/
