snippet === "Major separator" b
==============================================================================
endsnippet

snippet --- "Minor separator" b
------------------------------------------------------------------------------
endsnippet
