snippet script "<script>" b
<script>
$0
</script>
endsnippet

snippet load "<script context='module'>" b
<script context="module">
import type { Load } from "@sveltejs/kit"

export const load: Load = async function({ context }) {
  return {
    props: {
      prefix: context.prefix,
    },
  }
}
</script>
endsnippet

snippet section "<section>" b
<section class="section">
	$0
</section>
endsnippet

snippet _ "i18n" w
{$_("$0")}
endsnippet

snippet __ "i18n" w
__("$0")
endsnippet
