/* Hide close/minimize/etc buttons */
.titlebar-buttonbox-container,
.titlebar-spacer {
  display: none;
}

/* Hide back/forward buttons */
#back-button,
#forward-button {
  display: none;
}

/* Hide close tab close button */
.tab-close-button.close-icon {
  display: none;
}

/* Hide page actions buttons (save to pocket, bookmarks, etc...) */
#page-action-buttons {
  display: none;
}

/* Hide url bar go button */
.urlbar-go-button.urlbar-icon {
  display: none;
}

/* Hide url bar history dropdown button */
.urlbar-history-dropmarker {
  display: none;
}

/* Hide new tab button */
.tabs-newtab-button {
  display: none;
}
