; Author: Aymeric Beaumet <hi@aymericbeaumet.com> (https://aymericbeaumet.com)
; Github: @aymericbeaumet/dotfiles

[advice]
  statusHints = false

[alias]
  a = add
  br = branch -v --sort=-committerdate
  ci = commit
  cia = commit --amend
  cl = clone
  co = checkout
  df = diff
  dfc = diff --cached
  fe = fetch
  l = log
  me = merge
  pl = pull
  ps = push -u
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase --interactive
  rmc = rm --cached
  rs = reset
  rsh = reset --hard
  rv = revert
  sh = stash
  shc = stash clear
  shl = stash list
  shp = stash pop
  sm = submodule
  smfg = submodule foreach git
  st = status --short --branch
  sw = show
  #
  shco = !git sh && git co
  plps = !git pl && git ps

[color]
  ui = auto

[commit]
  gpgsign = true
  verbose = true

[core]
  excludesfile = ~/.gitignore
  pager = less

[diff]
  tool = vimdiff
  mnemonicprefix = true

[grep]
  lineNumber = true
  patternType = extended

[man]
  viewer = less

[pull]
  rebase = true

[push]
  default = current
	followTags = true

[user]
  name = Aymeric Beaumet
  email = hi@aymericbeaumet.com

[github]
  user = aymericbeaumet

[gitlab]
  user = aymericbeaumet

[bitbucket]
  user = aymericbeaumet

[include]
  path = ~/.secrets/.gitconfig
