; Author: Aymeric Beaumet <hi@aymericbeaumet.com> (https://aymericbeaumet.com)
; Github: @aymericbeaumet/dotfiles

[advice]
  statusHints = false

[alias]
  ; now using https://github.com/aymericbeaumet/dotfiles/blob/master/src/.pimprc

[color]
  ui = auto

[commit]
  gpgsign = true
  verbose = true

[core]
  excludesfile = ~/.gitignore
  pager = less

[diff]
  tool = vimdiff
  mnemonicprefix = true

[grep]
  lineNumber = true
  patternType = extended

[man]
  viewer = less

[pull]
  rebase = true

[push]
  default = current
  followTags = true

[user]
  name = Aymeric Beaumet
  email = hi@aymericbeaumet.com

[github]
  user = aymericbeaumet

[gitlab]
  user = aymericbeaumet

[bitbucket]
  user = aymericbeaumet

[include]
  path = ~/.secrets/.gitconfig
