; Author: Aymeric Beaumet <hi@aymericbeaumet.com> (https://aymericbeaumet.com)
; Github: @aymericbeaumet/dotfiles

[advice]
  statusHints = false

[alias]
  a = add
  br = branch
  ci = commit
  cia = commit --amend
  cl = clone
  co = checkout
  df = diff
  dfc = diff --cached
  fe = fetch
  l = log
  me = merge
  pl = pull
  ps = push
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase --interactive
  rmc = rm --cached
  rs = reset
  rsh = reset --hard
  sh = stash
  shl = stash list
  shp = stash pop
  sm = submodule
  smfg = submodule foreach git
  st = status --short --branch
  sw = show
  ; Hub aliases
  b = browse
  cis = ci-status
  cmp = compare
  pr = pull-request

[color]
  ui = never
  grep = auto

[core]
  excludesfile = ~/.gitignore
  pager = less

[diff]
  tool = vimdiff
  mnemonicprefix = true

[grep]
  lineNumber = true
  patternType = extended

[man]
  viewer = less

[push]
  default = current

[user]
  name = Aymeric Beaumet
  email = hi@aymericbeaumet.com

[github]
  user = aymericbeaumet

[gitlab]
  user = aymericbeaumet

[bitbucket]
  user = aymericbeaumet

[commit]
  gpgsign = true

[include]
  path = ~/.secrets/.gitconfig
